<head>
    <title>Json</title>
</head>
<body>
    <h1>Json 2</h1>
    {{#if randomObje}}
        <p>Entero: {{randomObje.entero_aleatorio}}</p>
        <p>Arreglo:  {{randomObje.arreglo_aleatorio}}</p>
    {{/if}}
</body>