<head>
    <title>Json</title>
</head>
<body>
    <h1>Json 1</h1>
    {{#if randomObject}}
        <p>Mensaje: {{randomObject.mensaje}}</p>
        <p>Valor:  {{randomObject.valor}}</p>
    {{/if}}
</body>