<head>
    <title>Ruta</title>
</head>
<body>
    <h1>Ruta 2</h1>
    {{#if data}}
        <p>Datos recibidos: </p>
        <blockquote>{{data}}</blockquote>
    {{else}}
        <p>Datos no recibidos</p>
    {{/if}}
</body>