<head>
    <title>Imagen</title>
</head>
<body>
    <h1>Imagen Aleatoria</h1>
    {{#if foto}}
        <a href={{foto.url}} alt="URL aleatoria">
            <img src={{foto.img}} alt="Imagen aleatoria">
        </a>
    {{/if}}
</body>